body{
	margin: 0;
	background-image: url(../img/body-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto; 
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.loginBox{
	margin: 0 auto;
	width: 470px;
	margin-top: 268px;
	padding: 50px 34px;
	background-color: rgba(255, 255, 255, 0.6);
}
.loginBox .loginHead{
	width: 470px;
}
.loginHead h1{
	font-family: 'Myriad Pro';
	display: inline-block;
	font-size: 48px;
	margin-top: 16px;
	color: #979696;
}
.loginHead img{
	float: right;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 20px auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #c19733;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #c19733;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: #51151d;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  width: 280px;
  margin: 0 auto 10px auto;
  display: block;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #c89033;
}

.loginBox .loginFoot{
	width: 470px;
	text-align: center;

}
.loginBox .loginFoot a{
	color: #000;
	font-family: 'Myriad Pro';
	text-decoration: none;
}
.loginFoot .forgotPass{
	margin-right: 120px
}